:root{
    --black: #000;
    --white: #fff;
    --color-1: #F8DA63;
    --color-2: #F3958D;
    --color-3: #F1B377;
    --color-4: #90E3BF;
    --color-5: #98E3F0;
    --color-6: #AD6A40;
    --color-7: #9E8BC8;
    --color-8: #E4A5D1;
    --color-9: #D0DA69;
    --gray-2 : #DDDDDD;
    --gray-3 : #CDCDCD;
    --gray50 : #F6F6F6;
    --gray100 : #E6E6E6;
    --gray200 : #CFCFCF;
    --gray300 : #B8B8B8;
    --gray400 : #A1A1A1;
    --gray500 : #8A8A8A;
    --gray600 : #727272;
    --gray700 : #5C5C5C;
    --gray800 : #4B4B4B;
    --gray900 : #323232;
    --gray1000 : #1D1D1D;
  }
  main {
    background-color: #fff;
    height: 1430px;
  }
  nav {
    /* background-color: antiquewhite; */
    width: 390px;
    
    padding: 0 14px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
    position: fixed;
    top: 62px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 99999;
  }
  .nav_left {
    display: flex;
    gap: 4px;
    align-items: center;
    cursor: pointer;
  }
  .nav_left img {
    height: 24px;
  }
  .nav_left h1 {
    font-family: "Riasans", sans-serif;
    font-weight: 700;
    font-size: 20px;
  }
  .nav_right {
    display: flex;
    gap: 8px;
  }
  .top_bg {
    width: 390px;
    height: 100px;
    padding: 0 14px 10px;
    gap: 18px;
    position: fixed;
    top: 0px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 999;
    background-color: #fff;
  }
  .mypage {
    margin-top: 100px;
    background-color: #fff;
    padding: 22px 14px 30px;
  }
  .sect_1 {
    margin: 30px 14px;
  }
  .section_title h2 {
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 16px;
    padding-left: 14px;
  }
  

  .topia_tabs {
    margin: 0 auto;
    width: 362px;
    height: 20px;
    
    display: flex;
    justify-content: space-between;
    background-color: #fff;
  }
  
  .tab {
    font-size: 14px;
    font-weight: 600;
    color: var(--gray200);
    cursor: pointer;
    position: relative;
  }
  
  .tab.active {
    color: var(--black);
  }
  
  .tab.active::after {
    content: "";
    position: absolute;
    bottom: -14px;
    left: 50%;
    transform: translateX(-50%);
    width: 60%;
    height: 2px;
    background-color: #000;
  }
  .sect_3 {
    margin: 46px 0;
    
  }
  .sect3_wrap {
    display: flex;
    flex-wrap: wrap;
    gap: 2px;
    margin-top: 16px;
  }
  /* 하단 gnb */
.footer_nav {
    width: 390px;
    display: flex;
    justify-content: space-between;
    padding: 8px 14px 10px;
    background-color: #FFF;
    position: fixed;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    border-top: 1px solid var(--gray100);
  
  }
  /* //하단 gnb */